#root {
  font-family: 'Roboto', sans-serif;
}

.Intro, .NewGame {
  margin-top: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.NewGame--buttons {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
